html,
body {
	box-sizing: border-box;
	position: relative;
	width : 100%;
	height : 100%;
	margin : 0;
	padding : 0;
	background-color : #333;
}

h3 {
	margin-top:0.5em;
	margin-bottom:0.5em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

canvas {
	position : absolute;
	top : 0;
	left : 50%;
	transform: translateX(-50%);
	max-width:800px;
	max-height:800px;
	width: 100%;
	height: 100%;
	border: 1px solid red;
}

.controls {
	position: absolute;
	z-index: 1;
	top:0;
	right:0;
	width: 200px;
	padding:0 10px 10px 20px;
	border: 1px solid red;
	background: rgba(255, 255, 255, .3);
}

.controls select,
.controls input {
	display: block;
	width: 100%;
}

.controls span {
	color: white;
}

.sliderGroup {
	width : 100%;
}

.sliderGroup input {
	padding:0;
	margin:0;
	float:left;
	border:0;
}

.sliderGroup input[type="range"] {
	width:calc(100% - 58px);
}

.sliderGroup input[type="text"] {
	width:58px;
}